[submodule "charts/kubernetes-dashboard-beta"]
	path = charts/kubernetes-dashboard-beta
	url = https://github.com/St0rmingBr4in/kubernetes-dashboard-beta.git
[submodule "charts/bazarr"]
	path = charts/bazarr
	url = https://github.com/St0rmingBr4in/bazarr.git
[submodule "charts/jellyfin-helm"]
	path = charts/jellyfin-helm
	url = https://github.com/brianmcarey/jellyfin-helm.git
